Section: x11
Priority: optional
Maintainer: LiJianying <lijy91@foxmail.com>
Version: 0.4.0
Homepage: https://github.com/biyidev/biyi
Package: biyi
Architecture: amd64
Description: A convenient translation and dictionary app written in dart / Flutter.
Depends: gir1.2-appindicator3-0.1, libkeybinder-3.0-0
